<h1>Lista de Clientes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pais</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.name %></td>
    <td><%= cliente.pais %></td>
    <td><%= cliente.email %></td>
    <td><%= link_to 'Ver', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Borrar', cliente, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_cliente_path %>
