<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cliente.name %>
</p>

<p>
  <b>Pais:</b>
  <%= @cliente.pais %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Volver', clientes_path %>
