<p id="notice"><%= notice %></p>

<p>
  <b>Decripcion:</b>
  <%= @diaferiado.dectription %>
</p>

<p>
  <b>Fecha:</b>
  <%= @diaferiado.fecha %>
</p>


<%= link_to 'Editar', edit_diaferiado_path(@diaferiado) %> |
<%= link_to 'Volver', diaferiados_path %>
