<p id="notice"><%= notice %></p>

<p>
  <b>Dectription:</b>
  <%= @diaferiado.dectription %>
</p>

<p>
  <b>Fecha:</b>
  <%= @diaferiado.fecha %>
</p>


<%= link_to 'Edit', edit_diaferiado_path(@diaferiado) %> |
<%= link_to 'Back', diaferiados_path %>
